.temperatures-container {
    border: 1px solid;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem 0 0.5rem;
    margin-bottom: 0.5rem;
}

.temperatures-variables {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

.temperatures-title {
    color: blue;
}

.temperatures-display {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
}