    .add-container {
        border: 1px solid;
        border-radius: 0.5rem;
        padding: 0.5rem 0.5rem 0 0.5rem;
        margin-bottom: 0.5rem;
    }
    
    .add-title {
        color: blue;
    }
    
    .add-variables {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
    }
    
    .add-display {
        display: flex;
        gap: 0.5rem;
        justify-content: space-between;
    }